<%= form_for(comment) do |f| %>
    <div class="field row-fluid">



        <div class="span8">
        <%= f.text_area :content, placeholder: "What do you think?", rows: 3 %>
        </div>

        <div class="span3">
        <%= f.text_field :name, placeholder: "your name" %>
        <%= f.text_field :email, placeholder: "your email" %>
        </div>

        <div class="span1">
        <%= f.submit "Go" , class: "btn btn-small" %>
        </div>

        <%= f.hidden_field :project_id %>

    </div>



<% end %>