<%= form_for(comment) do |f| %>
    <div class="field">

      <%= f.text_area :content %>

      <%= f.label :name %>
      <%= f.text_field :name %>

      <%= f.label :email %>
      <%= f.text_field :email %>

      <%= f.hidden_field :project_id %>

      <%= f.submit "Go" , class: "btn btn-small" %>
    </div>
<% end %>