
<h2><%= project.title %></h2>
<p>Uploaded on: <%= project.updated_at.to_date %> </p>

<%= image_tag project.title_page_img %>

<%= escape_javascript(raw render partial: project.content_partial_view_name)%>


<h3>Comments</h3>

<%= form_for(project.comments.build) do |f| %>
    <div class="field">

      <%= f.text_area :content %>

      <%= f.label :name %>
      <%= f.text_field :name %>

      <%= f.label :email %>
      <%= f.text_field :email %>

      <%= f.hidden_field :project_id %>

      <%= f.submit "Go" , class: "btn btn-small" %>
    </div>
<% end %>


<% project.comments.each do |comment| %>
    <div class="well">
    <%= render comment %>
    </div>
<% end %>