<!DOCTYPE html>
<html>
<head>
  <title><%= full_title(yield(:title)) %></title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
  <!--[if lt IE 9]>
  <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
  <![endif]-->
</head>

<body>
<header class="navbar navbar-inverse">
  <div class="navbar-inner">
    <div class="container-fluid" id="navbarcontainer">
      <%= link_to image_tag('logo.png', alt:"Logo"), root_path, class:'logo img-polaroid' %>
      <%= link_to full_title(""), root_path, class:'logoText' %>

      <nav>

        <ul class="nav pull-right">
          <li><a href=<%= root_path%>><i class="icon-home icon-white"></i> Home </a></li>
          <li><a href=<%= projects_path %>><i class="icon-pencil icon-white"></i> Projects </a></li>
          <li><a href=<%= contact_path%>><i class="icon-user icon-white"></i> Contact </a></li>
        </ul>

      </nav>
    </div>
  </div>
</header>

<%= yield %>

<%= debug(params) if Rails.env.development? %>
</body>
</html>
